<h2>All schedules</h2>

<table>
  <tr>
    <th>User ID</th>
    <th>User name</th>
    <th>Day no.</th>
    <th>Start at</th>
    <th>End at</th>
  </tr>

  <% for(let index = 0; index < schedules.length; index++) { %>
  <tr>
    <td><%= schedules[index].ID_user %></td>
    <td><%= schedules[index].User.lastname %> <%= schedules[index].User.firstname %></td>
    <td><%= schedules[index].day %></td>
    <td><%= schedules[index].start_at %></td>
    <td><%= schedules[index].end_at %></td>
  </tr>
  <% } %>
</table>